ol,
ul {
  margin: 0;
  padding: 0;
}

.announcements {
  width: 38%;
  height: 400px;
  overflow: hidden;
}

.announcements-container {
  display: flex;
  flex-direction: column;
  gap: 0.7rem;
  background-color: var(--clr-bg-veryLightDarkGreen);
  padding-bottom: 0.5rem;
}

.announcements-heading {
  display: flex;
  justify-content: space-between;
  background-color: var(--clr-bg-darkGreen);
  position: relative;
}

.announcements-heading::before {
  content: "";
  position: absolute;
  top: 100%;
  left: 20px;
  right: 0;
  margin: 0;
  width: 0;
  height: 0;
  border-top: solid 12px #007468;
  border-left: solid 7px transparent;
  border-right: solid 7px transparent;
}

.announcements-header {
  color: var(--clr-text-lightMustard);
  padding: 0.5em;
  margin: 0;
  text-transform: uppercase;
  font-family: Arial, Helvetica, sans-serif;
  font-size: clamp(1.1rem, 3vw, 1.375rem);
}

.announcements-tabs {
  display: flex;
  align-items: flex-end;
}

.announcements-tab {
  position: relative;
  background: transparent;
  border: none;
  padding: 0.625em 0.9375em 0.3125em 0.9375em;
  color: var(--clr-text-verylightGreen);
  font-size: min(1rem, 3.1vw);
}

.announcements-tab:not(:nth-last-child(1))::before {
  content: "";
  position: absolute;
  width: 1px;
  height: 40%;
  background-color: #efecca;
  right: 0;
  bottom: 7px;
}

.announcement-list-container {
  height: 18rem;
  overflow: hidden;
  position: relative;
}

.announcement-list {
  position: absolute;
  transition: all 0.5s ease-in-out;
}

.announcement-item {
  display: flex;
  gap: 0.5rem;
  align-items: center;
  padding: 5px;
}

.announcement-item:hover {
  background-color: var(--clr-bg-lightGreen);
  cursor: pointer;
}

.announcement-date {
  background-color: var(--clr-bg-midDarkGrayGreen);
  width: 43px;
  display: grid;
  place-items: center;
  color: var(--clr-text-veryLightYellow);
}
.announcement-date span {
  color: inherit;
  font-size: 14x;
  font-family: "Myriad Pro", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.announcement-text {
  flex: 1 1 75%;
}

.announcement-btn-container {
  display: flex;
  gap: 1rem;
  justify-content: flex-end;
  padding-right: 0.5rem;
}

.announcement-btn {
  font-size: 0.8rem;
  display: flex;
  align-items: center;
  gap: 0.2rem;
  padding: 0.2em 0.4em;
  border-radius: 0.3rem;
}

.announcement-btn:hover {
  background-color: #6ab2a9;
  color: var(--clr-text-darkMustard);
}

.active-btn {
  color: var(--clr-text-darkMustard);
}

@media (max-width: 1200px) {
  .announcements {
    width: 100%;
  }
}
