.header {
  background-color: var(--clr-bg-darkGreen);
}

.header-container {
  position: relative;
  max-width: var(--fullWidth);
  margin: 0 auto;
}

/* Label with yellowish background */
.header-applicantStudent {
  position: absolute;
  right: 27%;
  width: 60px;
  height: 95px;
  background: linear-gradient(
    0deg,
    rgba(203, 137, 0, 1) 10%,
    rgba(232, 182, 18, 1) 36%,
    rgba(249, 209, 29, 1) 80%,
    rgba(235, 158, 0, 1) 100%
  );
  border-radius: 0 0 5px 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.header-applicantStudent span {
  width: 100%;
  text-align: center;
  font-weight: bold;
  color: #fff;
  text-transform: uppercase;
}

.header-applicantStudent span:nth-child(1) {
  margin-top: 1.2rem;
  margin-bottom: -0.3rem;
  letter-spacing: 0.1rem;
}
.header-applicantStudent span:nth-child(2) {
  font-size: 0.75rem;
}

.header-applicantStudent::before {
  content: "";
  position: absolute;
  left: -30px;
  bottom: -23px;
  border-width: 60px 60px 40px 60px;
  border-style: solid;
  border-color: transparent transparent var(--clr-bg-darkGreen) transparent;
}
/* End - Label with yellowish background */

/* ========== */
/* HEADER TOP */
/* ========== */
.header-top {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.header-socialMediaLink {
  font-size: 1.375rem;
  padding: 0 4px;
}

.header-socialMediaIcon {
  color: #fdba04;
}

/* Dropdown reset */
.header-languageSelector button,
.header-languageSelector button:focus,
.header-languageSelector button:hover {
  background: transparent;
  box-shadow: none;
  border: none;
  outline: none;
}
.show > .btn-primary.dropdown-toggle,
.show > .btn-primary.dropdown-toggle:focus,
.show > .btn-primary.dropdown-toggle:hover {
  background: transparent;
  box-shadow: none;
  border: none;
  outline: none;
}
.btn-primary:active:focus {
  box-shadow: none;
}
/* End - Dropdown reset */

.languageSelector-flag {
  margin-right: 4px;
}

/* ========== */
/* HEADER MAIN */
/* ========== */
.header-main {
  margin-top: 0.625rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header-logoName {
  display: flex;
  align-items: center;
}

.header-logoName figure {
  margin: 0;
}

.header-logo {
  height: 7.81rem;
}

.header-headline {
  color: #fff;
  margin-left: 1rem;
  margin-top: 1rem;
}

.header-headline h1 {
  font-family: "Trajan Pro";
  font-size: 1.875rem;
}
.header-headline p {
  font-family: "Roboto";
  font-style: italic;
  color: var(--clr-text-lightMustard);
}

.header-searchForm {
  position: relative;
  width: 25%;
  align-self: flex-start;
  background: var(--clr-bg-midDarkGreen);
  margin-top: 1rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header-searchBox {
  width: 100%;
  border: none;
  outline: none;
  background: var(--clr-bg-midDarkGreen);
  color: var(--clr-text-lightGray);
  padding: 0.625rem;
  font-size: 0.875rem;
  font-family: Helvetica, Arial, sans-serif;
  transition: box-shadow 0.3s;
}

.header-searchBox:focus {
  box-shadow: inset 0 1px 1px rgb(0 0 0 / 8%), 0 0 8px rgb(102 175 233 / 60%);
}

.header-searchBox::placeholder {
  color: var(--clr-text-lightGray);
  font-family: inherit;
}

.header-searchIcon {
  position: absolute;
  right: 1rem;
  color: var(--clr-text-lightGray);
}

.navbar-nav {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

.nav-item {
  position: relative;
  color: var(--clr-text-midLightGray);
  text-transform: uppercase;
  padding: 15px;
  font-size: 1.125rem;
  font-family: Helvetica, Arial, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: background-color var(--speed), color var(--speed);
}

.nav-item:hover {
  background-color: var(--clr-bg-hover-LightGray);
  color: var(--clr-text-hover-Black);
}

.nav-caret {
  font-size: 0.9rem;
  margin-left: 0.3rem;
}

.nav-item:hover .dropdown1 {
  visibility: visible;
  opacity: 1;
  transition: var(--speed);
}

.dropdown1 {
  position: absolute;
  top: 100%;
  right: 0;
  border: 1px solid #d4e9e5;
  padding: 0;
  visibility: hidden;
  opacity: 0;
  transition: none;
  width: max-content;
}

.dropdownItem {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0.625rem 0.937rem;
  border-bottom: 1px solid #d4e9e5;
}

.dropdownItem:nth-last-child(1) {
  border-bottom: none;
}

.dropdownItem:hover {
  background-color: var(--clr-bg-darkGreen);
  color: var(--clr-text-hover-veryLightGray);
}

.dropdownItem:hover .dropdown-link {
  color: var(--clr-text-hover-veryLightGray);
}

.dropdown-link {
  text-transform: capitalize;
  text-decoration: none;
  font-size: 0.875rem;
  color: var(--clr-text-midDarkBlack);
}

.dropdown2 {
  position: absolute;
  top: -1px;
  left: 100%;
  border: 1px solid #d4e9e5;
  padding: 0;
  visibility: hidden;
  opacity: 0;
  transition: var(--speed);
  width: max-content;
}

.dropdownItem:hover .dropdown2 {
  visibility: visible;
  opacity: 1;
}

.dropdownItem2 {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0.625rem 0.937rem;
  border-bottom: 1px solid #d4e9e5;
}

.dropdownItem2:nth-last-child(1) {
  border-bottom: none;
}

.dropdownItem2:hover {
  background-color: var(--clr-bg-darkGreen);
  color: var(--clr-text-hover-veryLightGray);
}

.dropdownItem2:hover .dropdown-link2 {
  color: var(--clr-text-hover-veryLightGray);
}

.dropdown-link2 {
  text-transform: capitalize;
  text-decoration: none;
  font-size: 0.875rem;
  color: var(--clr-text-midDarkBlack);
}

.nav-item:nth-last-child(1) .dropdown1 .dropdownItem .dropdown2 {
  left: unset;
  right: 100%;
}
.nav-item:nth-last-child(2) .dropdown1 .dropdownItem .dropdown2 {
  left: unset;
  right: 100%;
}

.dropdownItem2:hover .dropdown2 {
  visibility: visible;
  opacity: 1;
}

.dropdown3 {
  position: absolute;
  top: -1px;
  left: 100%;
  border: 1px solid #d4e9e5;
  padding: 0;
  visibility: hidden;
  opacity: 0;
  transition: var(--speed);
  width: max-content;
}

.dropdownItem2:hover .dropdown3 {
  visibility: visible;
  opacity: 1;
}

.dropdownItem3 {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0.625rem 0.937rem;
  border-bottom: 1px solid #d4e9e5;
}

.dropdownItem3:hover {
  background-color: var(--clr-bg-darkGreen);
  color: var(--clr-text-hover-veryLightGray);
}

.dropdownItem3:hover .dropdown-link3 {
  color: var(--clr-text-hover-veryLightGray);
}

.dropdown-link3 {
  text-transform: capitalize;
  text-decoration: none;
  font-size: 0.875rem;
  color: var(--clr-text-midDarkBlack);
}
