.events {
  width: 38%;
  height: 400px;
  overflow: hidden;
}
@media (max-width: 1200px) {
  .events {
    width: 100%;
    height: auto;
  }
}

.events-heading {
  display: flex;
  justify-content: space-between;
  background-color: var(--clr-bg-darkGreen);
  position: relative;
}

.events-heading::before {
  content: "";
  position: absolute;
  top: 100%;
  left: 20px;
  right: 0;
  margin: 0;
  width: 0;
  height: 0;
  border-top: solid 12px #007468;
  border-left: solid 7px transparent;
  border-right: solid 7px transparent;
}

.events-header {
  color: var(--clr-text-lightMustard);
  padding: 0.5em;
  margin: 0;
  text-transform: capitalize;
  font-family: Arial, Helvetica, sans-serif;
  font-size: clamp(1.1rem, 3vw, 1.375rem);
}

.events-tabs {
  display: flex;
  align-items: flex-end;
}

.event-tab {
  position: relative;
  background: transparent;
  border: none;
  padding: 0.625em 0.9375em 0.3125em 0.9375em;
  color: var(--clr-text-verylightGreen);
  font-size: min(1rem, 3.1vw);
}

.event-list-container {
  height: 11rem;
  overflow: hidden;
  position: relative;
}
.event-list {
  position: absolute;
  transition: all 0.5s ease-in-out;
}

.events-container {
  display: flex;
  flex-direction: column;
  gap: 0.7rem;
  overflow: hidden;
  background-color: var(--clr-bg-veryLightDarkGreen);
  padding-bottom: 0.5rem;
}

.event-container {
  display: flex;
  gap: 0.5rem;
  align-items: center;
  padding: 5px;
}

.event-container:hover {
  background-color: var(--clr-bg-lightGreen);
  cursor: pointer;
}

.event-date {
  background-color: var(--clr-bg-midDarkGrayGreen);
  width: 43px;
  display: grid;
  place-items: center;
  color: var(--clr-text-veryLightYellow);
}
.event-date span {
  color: inherit;
  font-size: 14x;
  font-family: "Myriad Pro", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.event-text {
  flex: 1 1 75%;
}

.active-btn {
  color: var(--clr-text-darkMustard);
}

.intro-img-container {
  position: relative;
  margin: 0;
}

@media (max-width: 1200px) {
  .intro-video {
    width: 70%;
    margin: 0 auto;
  }
  .intro-img-container {
    overflow: hidden;
  }
}

.intro-img-container::before,
.intro-img-container::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(48, 114, 104, 0.5);
  transition: all var(--speed) ease-in-out;
}

.intro-img-container::before {
  transform: translateX(-100%);
}

.intro-img-container::after {
  transform: translateX(0%);
}

.intro-img-container:hover::before {
  transform: translateX(0);
}

.intro-img-container:hover::after {
  transform: translateX(-100%);
}

.intro-img-container:hover .intro-caption {
  opacity: 0;
  visibility: hidden;
}

.intro-img-container:hover .intro-caption-active {
  opacity: 1;
  visibility: visible;
}

.intro-img {
  width: 100%;
}

.intro-caption {
  background-color: rgba(48, 114, 104, 0.6);
  position: absolute;
  top: 0;
  right: 0;
  color: #fff;
  font-size: 1.2rem;
  padding: 0.2rem 3rem 0.2rem 0.5rem;
  transition: all var(--speed) ease-in-out;
}
@media (max-width: 700px) {
  .intro-caption {
    font-size: clamp(0.8rem, 3vw, 2rem);
  }
}

.intro-caption-active {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #fff;
  font-size: 1.5rem;
  opacity: 0;
  padding: 0.5rem;
  visibility: hidden;
  transition: all var(--speed) ease-in-out;
  z-index: 1;
}
@media (max-width: 700px) {
  .intro-caption-active {
    font-size: clamp(0.8rem, 3vw, 2rem);
  }
}

.intro-video-icon {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 0.5rem;
  font-size: 3rem;
  padding: 0.8rem;
  background-color: rgba(0, 76, 70, 0.8);
  border-radius: 50%;
  color: var(--clr-text-lightMustard);
  width: 60px;
  height: 60px;
}

@media (max-width: 700px) {
  .intro-video-icon {
    font-size: clamp(1rem, 5vw, 2rem);
    width: clamp(16px, 7vw, 60px);
    height: clamp(16px, 7vw, 60px);
    padding: 0.5rem;
  }
}
