.footer {
  margin-top: 5px;
  background-color: var(--clr-bg-darkGreen);
  font-family: Arial, Helvetica, sans-serif;
}

.footer-container {
  position: relative;
  max-width: var(--fullWidth);
  margin: 0 auto;
  padding: 2.5rem 0.5rem 1rem 0.5rem;
}

.footer-main {
  display: flex;
  justify-content: space-between;
  gap: 1rem;
}

.footer-logo_slogan {
  flex: 1;
}
.footer-contact {
  flex: 1;
}
.footer-links {
  position: relative;
  flex: 1;
}

.footer-slogan {
  font-family: "Roboto";
  font-style: italic;
  font-size: 0.9rem;
  color: var(--clr-text-lightMustard);
}

.footer-contact-header,
.footer-links-header {
  color: var(--clr-text-lightMustard);
}

.footer-contact-address,
.footer-contact-phone_fax {
  display: flex;
  color: var(--clr-text-LightGreen);
}
.footer-contact-phone_fax {
  font-size: 0.9rem;
}
.footer-contact-fax {
  margin-left: 1rem;
}

.icon {
  color: var(--clr-text-lightMustard);
  margin-right: 0.3rem;
}

.icon-location {
  font-size: 1.5rem;
}

.footer-links {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.footer-links-container {
  display: flex;
  gap: 1rem;
}

.footer-links-listItem > a {
  color: var(--clr-text-LightGreen);
  text-decoration: none;
  display: flex;
  align-items: center;
  font-size: 0.9rem;
  padding: 0.05rem;
}

.footer-rightArrow {
  color: var(--clr-text-lightMustard);
  font-size: 0.8rem;
}
.footer-links-listItem > a:hover {
  background-color: var(--clr-bg-midDarkGreen);
}

/* ========== */
/* Copyright  */
/* ========== */
.footer-copyRight-container {
  background-color: var(--clr-bg-veryDarkGreen);
  padding: 1rem;
}

.footer-copyRight {
  color: var(--clr-text-LightGreen);
  display: block;
  position: relative;
  max-width: var(--fullWidth);
  margin: 0 auto;
  padding: 0 0.5rem;
}

.footer-links-container-mobile {
  display: none;
}

@media (max-width: 1200px) {
  .footer-main {
    flex-wrap: wrap;
    gap: 0;
    justify-content: center;
  }
  .footer-logo_slogan {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex: 1 0 50%;
  }
  .footer-contact {
    flex: 1 0 50%;
  }
  .footer-links {
    display: flex;
    align-items: center;
    flex: 0 1 100%;
  }
}

@media (max-width: 700px) {
  .footer-contact {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .footer-contact-phone_fax {
    justify-content: center;
  }
}
@media (max-width: 460px) {
  .footer-links-container {
    display: none;
  }
  .footer-links-container-mobile {
    display: flex;
    flex-direction: column;
    position: absolute;
    bottom: 150%;
    background: #222;
    border: 1px solid #d4e9e5;
    background: #fff;
    z-index: 10;
  }
  .footer-links-listItem:hover a {
    color: var(--clr-text-hover-veryLightGray);
  }
  .footer-links-listItem > a {
    text-transform: capitalize;
    text-decoration: none;
    font-size: 0.875rem;
    color: var(--clr-text-midDarkBlack);
    padding: 0.625rem 0.937rem;
  }
  .footer-links-header {
    text-decoration: underline;
    cursor: pointer;
  }
}
