@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
@font-face {
  font-family: "Trajan Pro";
  src: url("fonts/TrajanPro.ttf");
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul {
  list-style: none;
}

a,
a:active,
a:hover {
  text-decoration: none;
}

html,
body {
  font-family: Helvetica, Arial, sans-serif;
}

:root {
  --clr-bg-veryDarkGreen: #015f55;
  --clr-bg-darkGreen: #007468;
  --clr-bg-midDarkGreen: #006a5f;
  --clr-bg-veryDarkGray: #606e6c;

  --clr-text-lightMustard: #fdba04;
  --clr-text-darkMustard: #ff9806;

  --clr-text-veryDarkGreen: #02322d;

  --clr-text-midDarkBlack: #333333;

  --clr-text-DarkGreen: #4b625e;
  --clr-text-LightGreen: #95c7bf;
  --clr-text-verylightGreen: #badad7;

  --clr-text-lightGray: #78a29c;
  --clr-text-midLightGray: #e4f4f2;
  --clr-text-veryLightGray: #ecfcfa;

  --clr-bg-hover-LightGray: #e5e8eb;
  --clr-text-hover-Black: #242526;
  --clr-text-hover-veryLightGray: #f8fefd;

  --fullWidth: 1300px;

  --speed: 500ms;
}
